.calendar {
    width: 100%;
    max-width: 900px;
    margin: 2rem auto;
    padding: 1rem;
    background: #ffffffc9;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);

    @media (max-width: 768px) {
        width: 95%;
        padding: 0.5rem;
    }
}
.cardCalendar {
    background: linear-gradient(to top left, #dbeafe, #eff6ff);
    padding: 1.5rem;
    border-radius: 2rem;
    border: 5px solid #e0e7ff;
    margin-top: 33px;
    margin-right: 6px;
    margin-bottom: 2rem;

    &__form-group {
        label {
            font-weight: 600;
            color: #1e3a8a;
        }

        input, select {
            width: 100%;
            padding: 0.5rem;
            border-radius: 8px;
            border: 1px solid #cbd5e1;
            margin-top: 0.3rem;
        }
    }
    &__group-color {
        margin: auto;
        margin-bottom: 4rem;
    }
    &__btn {
        background-color: #2563eb;
        color: white;
        transition: background-color 0.3s;

        &:hover {
            background-color: #1d4ed8;
        }
    }
}

.eventCard {
     max-height: 900px; // o una altura que necesites
    overflow-y: auto;
    scrollbar-width: thin; // para navegadores compatibles (como Firefox)
}