$hover-color: #124c97;

@mixin header-border($size: 2px) {
    text-decoration: none;
    border-bottom: solid $size transparent;
    transition: border-color 0.3s ease;
}

.navbar {
    padding: 10px 1rem;
    border-radius: 10px;
    background: linear-gradient(45deg, #fff, #2f7ef5);

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    &__logo {
    width: 4.5rem; /* más pequeño */
    border-radius: 12px;

    @media (max-width: 768px) {
      width: 3.5rem; /* aún más pequeño en móvil */
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    gap: 1rem; /* reducimos separación */

    @media (max-width: 768px) {
      gap: 0.5rem; /* menos espacio en móvil */
      font-size: 0.9rem; /* texto más compacto */
    }

    &--ref {
      font-weight: 600;
      font-size: 1rem;
      text-decoration: none;
      color: #273447;

      @media (max-width: 768px) {
        font-size: 0.85rem; /* texto más pequeño en móvil */
      }
    }
  }
}