.home__carousel {
  width: 40%; // Puedes ajustar este ancho
  height: 80vh; // Altura relativa a la ventana
  float: right; // Mueve el carrusel al lado derecho
  margin: 2rem; // Espaciado del borde

  .carousel,
  .carousel-inner,
  .carousel-item,
  .carousel-item img {
    height: 100%;
    width: 100%;
    object-fit: cover; // Para que la imagen se ajuste sin deformarse
    border-radius: 12px;
  }

  .carousel-caption {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 1rem;
    border-radius: 8px;
  }

   @media (max-width: 992px) {
    width: 60%;
    height: 60vh;
  }

  @media (max-width: 768px) {
    width: 90%;
    height: 50vh;
    margin: 1rem auto;
  }

  @media (max-width: 480px) {
    width: 95%;
    height: 40vh;
    .carousel-caption {
      font-size: 0.8rem;
      padding: 0.5rem;
    }
  }
}